<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calc</title>
</head>
<body>
<div th:switch="${move}">
    <p th:case = "'add'">Действие: Сложение</p>
    <p th:case = "'mult'">Действие: Умножение</p>
    <p th:case = "'sub'">Действие: Вычитание</p>
    <p th:case = "'div'">Действие: Деление</p>
</div>

  <p>
      <span>Результат чисел: </span>
    <span th:text="${a}"></span>
      <span> и </span>
    <span th:text="${b}"></span>
    <span> = </span>
    <span th:text="${result}"></span>
  </p>

<a href="/hello-world">Sign in</a>
<a href="/goodbye">Exit</a>
</body>
</html>